PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/saumyaa_db?retryWrites=true&w=majority
JWT_SECRET=saumyaa_super_secret_jwt_key_2026

# Email Nodemailer Credentials
EMAIL_USER=anujdhiman1706@gmail.com
EMAIL_PASS=your_gmail_app_password_here
